:root {
    --snow-background: #fafafa;
    --primary-margin: 20px auto;
    --primary-padding: 32px;
    --max-width: 1400px; 
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Lato', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--snow-background);
}

.articles {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    margin: var(--primary-margin);
    padding: 10px;
}

.articles__content {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    align-items: center;
}

.articles__header {
    background-color: #eee;
    margin: var(--primary-margin);
    padding: var(--primary-padding);
}

.articles__heading {
    text-align: center;
}

.articles__footer {
    margin: 50px auto;
}

.articles__button {
    color: #fff;
    background-color: rgb(170, 54, 54);
    border: 4px solid rgb(170, 54, 54);
    padding: 20px var(--primary-padding);
    border-radius: 5px;
    font-size: 20px;
    transition: .3s;
}

.articles__button:hover {
    background-color: rgb(207, 92, 92);
    border-color: rgb(207, 92, 92);
    cursor: pointer;
}

.article {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: var(--primary-padding);
    min-height: 620px;
    transition: box-shadow .3s ease-in;
    position: relative;
}


.article:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.article__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.article__image {
    max-width: 400px;
    max-height: 200px;
    margin: var(--primary-margin);
}

.article__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.article__date {
    font-weight: bold;
    font-style: italic;
}

.article__link {
    position: absolute;
    top: 570px;
    text-decoration: none;
    color: rgb(170, 54, 54);
}


.article__link:hover {
    color: rgb(207, 92, 92);
}
